p, li {
	font-family: "Georgia";
	font-size: small;
	}

h1 {
	font-family: "Georgia";
	font-size: xx-large;
	padding-top: 30px;
padding-bottom: 20px;	
	}

h2 {
	font-family: "Georgia";
	font-size:medium;
	font-style: italic;
	border-bottom-style: solid;
	padding-top: 10px;
	}

h3 {
	font-family: "Georgia";
	font-size: small;
		
		}

	
	

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 50px;
  color: #FFFFFF;
  display: block;
}

.sidenav a:hover {
  color: #808080;
}

.main {
  margin-left: 300px; /* Same as the width of the sidenav */
  margin-right:30%;
  margin-top:40px;
  margin-bottom:30%;
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




</head>
<body>


   
</body>
</html> 