p, li {
	font-family: "Nexa Bold";
	font-size: small;
	}


table, ul {
	text-align: left;
	font-size: small;
	list-style-type: none;
}

th {
	text-align: left;
	font-size: small;
	font-family: "Nexa Bold";
	padding: 5px;
		
	}
	
td {
	font-size: small;
	font-famiily: "Nexa Bold";
	padding-right: 30px;
}

h2 {
	font-family: "Nexa Bold";
	font-size:medium;
	border-top-style: solid;

	
	}

h3 {
	font-family: "Georgia";
	font-size: small;
		
		}

iframe {
		border:none;
}

 
	

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 50px;
  color: #FFFFFF;
  display: block;
}

.sidenav a:hover {
  color: #808080;
}

.main {
  margin-left: 300px; /* Same as the width of the sidenav */
  margin-right:30%;
  margin-top:40px;
  margin-bottom:30%;
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




</head>
<body>


   
</body>
</html> 